/** Display Email **/
.vopros-email-display .header {
  border: 1px solid black;
  background-color: #ddd;
  padding: 5px;
}

.vopros-email-display .body {
  border: 1px solid black;
  border-top: none;
  padding: 5px;
}

.vopros-email-display .body .field-name-vopros-email-attachment .field-item {
  margin: 10px 0;
}

.vopros-email-display .body img.preview {
  border: 1px solid black;
}

.vopros-email-display .body .email-content .label {
  display: none;
}

.vopros-email-display .body .email-content .value {
  clear: left;
  display: block;
}

/** Contact user email page **/
#vopros-email-question-contact-form .action {
  width: 30%;
  float: right;
}

#vopros-email-question-contact-form .form {
  width: 65%;
}

#vopros-email-question-contact-form #edit-send-mail {
  font-size: 3em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

/**
 * Answer email page
 */
#vopros-email-form .action {
  width: 30%;
  float: right;
}

#vopros-email-form .action .form-submit {
  font-size: 3em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

#vopros-email-form .form {
  width: 65%;
}

.vopros-email-extra .label {
  width: 125px;
  display: block;
  float: left;
  font-weight: bold;
}

.vopros-email-extra div.label {
  float: none;
}

.vopros-email-extra {
  clear: left;
  margin-bottom: 5px;
}

/**
 * Email feed item
 */
.email-feed-item .email-header {
  border: 1px solid black;
  padding: 5px;
  background-color: #ddd;
}

.email-feed-item .email-header .label {
  width: 70px;
  display: block;
  float: left;
  font-weight: bold;
}

.email-feed-item .email-content {
  border: 1px solid black;
  border-top: none;
  padding: 5px;
}
