/**
 * Basic styles needed for Vopros question
 */

.view-vopros-question-list form label {
  float: left;
  margin: 10px 10px 0 0;
}

.view-vopros-question-list form .views-widget {
  float: left;
}

.view-vopros-question-list form .views-submit-button .form-submit {
  margin-top: 5px;
}

.vopros-question .feed {
  border-top: 2px solid black;
  margin-top: 10px;
  padding-top: 10px;
}

.vopros-question .feed .feed-item {
  margin-bottom: 10px;
}

.vopros-question .feed .status-feed-item {
  font-weight: bold;
}

/**
 * Basic styles for question list
 */
.view-vopros-question-list .view-header {
  padding: 20px 35px;
  border: 2px solid black;
  margin-bottom: 20px;
  background-color: #eee;
}

/**
 * Close question styles
 */
#vopros-question-close-question-form #edit-save {
  float: right;
  font-size: 3em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

#vopros-question-close-question-form .form-item {
  width: 70%;
}

/**
 * Admin edit form
 */
#vopros-question-question-form .form {
  float: left;
  width: 65%;
}
#vopros-question-question-form .action {
  float: right;
  width: 30%;
}

#vopros-question-question-form .action .form-submit {
  font-size: 3em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin-bottom: 0.3em;
}

/**
 * Frontend form styles
 */
#vopros-question-question-frontend-form .action {
  float: right;
  width: 30%;
}

#vopros-question-question-frontend-form .action .form-submit {
  font-size: 3em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  margin-bottom: 0.3em;
}

#vopros-question-question-frontend-form .form {
  width: 65%;
}

#vopros-question-question-frontend-form .form .hidden {
  display: none;
}

#vopros-question-question-frontend-form .form .tooltip {
  display: none;
  margin-top: -150px;
  margin-left: -150px;
  color: white;
  background-color: black;
  opacity: 0.7;
  padding: 5px 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

#vopros-question-question-frontend-form .fake-form-item {
  padding: 6px;
}

#vopros-question-question-frontend-form .fake-form-item:hover {
  border: 1px solid #999;
  padding: 5px;
  cursor: pointer;
}

/**
 * Subject checkboxes.
 */
#edit-subject-catagory {
  margin-bottom: 10px;
}

#edit-subject-catagory:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html #edit-subject-catagory {
  height: 1%;
}
/* IE7 */
*:first-child + html #edit-subject-catagory {
  min-height: 1%;
}

#edit-subject-catagory .form-type-checkbox {
  width: 150px;
  float: left;
}
