/**
 * Basic styles needed for Vopros question
 */

.view-vopros-question-list form label {
  float: left;
  margin: 10px 10px 0 0;
}

.view-vopros-question-list form .views-widget {
  float: left;
}

.view-vopros-question-list form .views-submit-button .form-submit {
  margin-top: 5px;
}
