/** Style for vopros question display **/

.views-field-question-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.view-vopros-question-admin {
  margin-bottom: 20px;
}

.views-field-question-content {
  margin: 10px 0;
}

.vopros-question-extra .label,
.vopros-question .field .field-label {
  width: 125px;
  display: block;
  float: left;
  font-weight: bold;
}

.vopros-question-extra div.label {
  float: none;
}

h2.question-title {
  font-size: 20px;
}

h3.question-user-data {
  font-size: 14px;
}

#vopros-question-handle-question-form {
  margin-top: 20px;
}

.vopros-question .vopros-question-extra,
.vopros-question h3 {
  clear: left;
}

.vopros-question .content {
  width: 68%;
  float: left;
}

.vopros-question .action {
  margin-left: 2%;
  width: 30%;
  float: left;
}

.vopros-question .action .form-submit {
  font-size: 2em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

.vopros-question .action .form-submit:active {
  background: #666;
}

