/**
 * Published question feed item
 */

.feed .published-feed-item {
  font-weight: bold;
}

#vopros-public-question-form .field-name-vopros-public-question-subject .form-type-checkbox {
  width: 150px;
  float: left;
}

#vopros-public-question-form .text-format-wrapper {
  clear: both;
  margin-bottom: 20px;
}
