/** Answer question form page. **/
#vopros-answer-form .form {
  width: 60%;
}

#vopros-answer-form .action {
  width: 30%;
  float: right;
}

#vopros-answer-form .action .form-submit {
  font-size: 2em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

#vopros-answer-form .form .vopros-question .content {
  float: none;
  width: 100%;
}

#vopros-answer-form h2.question-title {
  float: left;
}

#vopros-answer-form .back-to-question {
  line-height: 40px;
  margin-left: 10px;
}

#vopros-answer-form p.question-content {
  clear: left;
}

.vopros-question .feed .vopros-answer {
  padding: 5px;
  margin: 5px 0 10px;
  background-color: #E0E9F1;
}

