/** Answer question form page. **/
#vopros-answer-form .form {
  width: 60%;
}

#vopros-answer-form .action {
  width: 30%;
  float: right;
}

#vopros-answer-form .action .form-submit {
  font-size: 3em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

#vopros-answer-form .form .vopros-question .content {
  float: none;
  width: 100%;
}

.vopros-question .feed .vopros-answer {
  padding: 5px 0;
  margin: 5px 0 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
