/** Form for sending question to external service **/

#vopros-service-forward-form .sidebar {
  float: right;
  width: 30%;
}

#vopros-service-forward-form .sidebar .form-submit {
  font-size: 2em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

#vopros-service-forward-form .form {
  width: 65%;
}

.question-messages {
  border: 1px solid black;
}

.question-messages .from {
  background-color: #ddd;
  border-bottom: 1px solid black;
  padding: 0.5em;
}

.question-messages .content {
  margin: 0;
  padding: 0.5em;
}

.question-messages .from .label {
  font-weight: bold;
}
