/** Form for sending question to external service **/

#vopros-service-question-service-form .sidebar {
  float: right;
  width: 30%;
}

#vopros-service-question-service-form .sidebar .form-submit {
  font-size: 2em;
  background: #E5E5E5;
  padding: 10px 30px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

#vopros-service-question-service-form .form {
  width: 65%;
}
