/** Custom styling for vopros **/

#vopros-feedback-public-form {
  font-family: Arial,Helvetica,sans-serif;
}

#vopros-feedback-public-form .intro-text {
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; /* LTR */
  color: #234600;
  background-color: #f8fff0;
  background-image: url(../../../../../../misc/message-24-ok.png);
  width: auto;
}

#vopros-feedback-public-form .field-name-vopros-feedback-rating {
  margin: 10px 0;
}